{% include 'bbug::components/header.twig' %}

<div class="wrapper">
  <header>
    <div class="logo account__logo">
      <a href="/"><img src="/images/bblogo.svg" alt=""></a>
      <span class="tagline">Platform Developer Portal</span>
    </div>
    <div class="account__doc-links">
      <a href="/" class="dev-docs">Developer Docs</a>
      <a href="http://apidocs.bookingbug.com/" target="_blank" class="api-ref">API reference</a>
      <a href="http://platform.bookingbug.com/sdkdocs/#/api" target="_blank" class="sdk-ref">SDK reference</a>
      <a href="{{flarumURL}}" target="_blank" class="forum">Forum</a>
      <a href="mailto:support@bookingbug.com" target="_blank" class="support">Support</a>
      <a href="/logout" class="logout">Logout</a>
    </div>
  </header>
<div class="clearfix"></div>
  <div class="account">
    <div class="container">
      {#<div class="account__column">
        <div class="card account__forum-posts">
          <h2>Latest Forum Discussions</h2>
          {% if flarumDiscussions|length > 0 %}
          <ul>
            {% for discussion in flarumDiscussions.data %}           
            <li>
              <a href="{{ flarumURL }}/d/{{ discussion.id }}-{{ discussion.attributes.slug }}" target="_blank">
                <h3>{{ discussion.attributes.title }}</h3>
                <span class="help-block"><b><i class="fa fa-users fa-fw"></i>&nbsp;Total Participants:</b> {{ discussion.attributes.participantsCount }}&nbsp;&nbsp;<b><i class="fa fa-comment fa-fw"></i>&nbsp;Total Comments:</b> {{ discussion.attributes.commentsCount }}
                </span>
              </a>
            </li>
            {% endfor %}
          </ul>
          {% else %}
            No forum discussions available <br>
          {% endif %}
        </div>
      </div>#}
      <div class="account__column">
        <div class="card account__profile">
          <h2>Developer Profile</h2>
          {# img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt=""> #}
          {% if user.appId %}
            <p class="appkey">Your Public App Key: 
              <input type="text" id="public-key" value="{{ user.appId }}">
              <button class="cp-btn btn" data-clipboard-target="#public-key">
                  <img src="images/clippy.svg" alt="Copy to clipboard" style="width:1em;">
              </button>
            </p>
            <span class="help-block">Use the above App Key to make requests to the public API</span>
          {% endif %}
            <p class="appkey">Your Admin API Keys: <a href="https://bookingbug.3scale.net/admin/access_details" target="_blank">Create/Retrieve</a></p>
            <span class="help-block">To authenticate with admin level permissions. You will also need to use your email and password that you used to create your account on our <a href="https://bookingbug.com" target="_blank">main site</a></span><br><br>
          <label for="username">Username</label>
          <input type="text" placeholder="{{ flarumUser.data.attributes.username }}" disabled>
          <label for="email">Email</label>
          <input type="text" placeholder="{{ flarumUser.data.attributes.email }}" disabled>
          <a href="{{flarumURL}}" target="_blank" style="float:right;">Change Your Details</a>
        </div>

        {# <div class="card account__companies">
        <h2>My Companies</h2>
          {% if companies|length > 0 %}
          <ul>
            {% for company in companies %}
            <li class="account__company">
              <span>{{ company.name }} <b>admin:</b> {{ company.adminName }} | {{ company.adminEmail }}</span>
              <input type="text" placeholder="host url">
            </li>
            {% endfor %}
          </ul>
          {% else %}
            You have no companies available <br><br>
          {% endif %}
          <a href="https://www.bookingbug.co.uk/pricing" target="_blank" class="btn btn-primary">Create Company</a>
          <a href="" class="btn btn-primary">Request Access to Company</a>
        </div>#}
      </div>
    </div>
  </div>
</div>

{% include 'bbug::components/footer.twig' %}
